.login-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.gallery a button{
    text-align: center;
   }

   .admin-main{
    box-sizing: border-box;
    display: flex;
   }

   .col-1 {
    background-color: rgb(194, 226, 239);
    flex: 1;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
  }

  .content {
    display: flex;
    flex-direction: row;
  }
  .content > article {
    background-color: rgb(11, 11, 90);
    position: relative;
    color: white;
    flex: 4;
    min-height: 60vh;
  }

  .header-form{
    display: flex;
  font-weight: 600;
  margin-top: 30px;
  }

  .header-form button{
    background-color:rgb(11, 11, 90) ;
    color: white;
   margin-left: 2px;
   border-radius: 3px;
  }

  header, footer {
    background: white;
    height: 20vh;
  }
  header, footer, article, nav {
    padding: 1em;
  }
  
  .side-link li{
    padding-bottom: 17px;
  }

 .details{
  position: absolute;
  padding: 50px 78px 50px;
  color:rgb(11, 11, 90);
  z-index: 1;
  background-color: rgb(165, 178, 184);
  width: fit-content;
  top: 84px;
  left: 6px;
  display: none;
  transition: 0.8s ease-out;
  border-radius: 1px;
 }


 .details th{
   padding-left: 70px;
 }

 .details thead{
 
  color: rgb(11, 11, 90);
 }

 .details tbody{

  color: white;
 }

 .table-button button{
  border-radius: 3px;
  background-color: rgb(11, 11, 90);
  color: white;
 }

 #studentTableBody td button{
  background-color: rgb(11, 11, 90);
  color: white;
  border-radius: 3px;
 }

 .table-details{
  background-color: rgb(194, 226, 239);
  padding-bottom: 40px;
  padding-right: 60px;
  border-radius: 4px;
 }

 .table-h4{
  margin-left: 10px;
  margin-top: 15px;
 }

 .table-details th input{
  padding: 10px 10px 10px;
 }

 .borrowed-books{
  background-color: aqua;
  border-radius: 3px;
 }

 #book-borrow{
  position: absolute;
  background-color: rgb(11, 11, 90);
  color: white;
  padding: 80px 90px 80px;
  border-radius: 4px;
  width: 97%;
  top: 20%;
  left: 2%;
  z-index: 2;
  /* display: none; */
 }

 .borrow-main{

 }