html, body {
  height: 100%; /* Ensure the html and body take full height */
  margin: 0; /* Remove default margin */
}

/*  student_home.php css start */
.main{
    height: 100vh;
    background-image: linear-gradient(to right, white, white, rgb(100, 204, 220), skyblue);
  }

  
  @media (max-width: 600px) {
    .main{
      height: 100vh;
    }
  }
  
  .top-content{
    background-color: rgb(11, 11, 90);
    display: flex;
    color: white;
    font-weight: 600;
    padding: 10px 10px 1px;
  
  }
  .top-content p{
    padding-left: 5px;
  }


  .side-image{
    float: right;
    max-width: 100%; /* Ensures the image doesn't exceed the width of its container */
    height: auto; /* Allows the height to adjust according to the aspect ratio */
  }


  @media (max-width: 600px) {
    .side-image{
    display: none;
    }
  }

  .main-content{
    margin-top: 15px;
    padding-top: 15px;
    display: flex;
   justify-content: center;
  }

  .main-h4{
    display: flex;
    justify-content: center;
    font-style: italic;
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 35px;
    font-weight: 400;
    color: rgb(174, 36, 36);
    padding-top: 20px;
  }
  
  .main-content h4{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: Impact, fantasy;
    color: rgb(11, 11, 90);
  }
  
  .ama-logo{
    margin-left: 20px;
    border-radius: 10px;
  }

  @media (max-width: 600px) {
    .ama-logo{
    margin-top: 10px;
    width: 100px;
    height: 50px;
    }
  }
  
  .student-login{
    position: absolute;
    margin-top: 5%;
    margin-left: 15%;
    background-color: rgb(155, 220, 226);
    padding: 15px 20px 0px;
    border-radius: 5px; 
  }


  
  @media (max-width: 600px) {
    .student-login{
    margin-top: 23%;
    margin-left: 4%;
    padding: 10px 10px 10px;
    }
  }
  
  
  ::placeholder {
    text-align: center; /* Center-align the placeholder text */
  }
  
  .login-input{
    margin-top: 20px;
  }

  .password-input{
    margin-top: 40px;
    
  }
  
  .submit-login{
    margin-top: 40px;
  }
  
  .submit-login input{
    width: 300px;
    border-radius: 5px;
    background-color: rgb(39, 20, 126);
    color: white;
  }
  .submit-login a{
    color: red;
  }
  
  .login-input, .password-input, input{
    width: 300px;
    border-radius: 5px;
    height: 30px;
  }
  
  .input{
    background-color: rgb(203, 198, 198);
    color: black;
    border: 1px solid transparent;
  }
  

  .nav-content{
    display: flex;
  }

  .nav-content p{
   margin-top: 3px;
  }


  .nav-content img{
    margin: 10px;
    border-radius: 2px;
  }

  .nav-link{
    display: flex;
   justify-content: center; 
   padding-top: 7px;
  }

  .nav-link li{
    padding-left: 20px;
    list-style-type: none;
    color: white;
  }

  .nav-link a{
    padding-right: 13px;
    text-decoration: none;
    transition: background-color 0.3s; /* Smooth transition for background color change */
  }


  /* .book-image{
    margin-bottom: 5%;
    padding: 1px 90px 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  } */

 .gallery a img{
  width: 100%; /* Make the image take full width of its grid cell */
  height: 150px;
  object-fit: cover; /* Scale images to cover the container */
  border-radius: 5px;
 }

 .gallery p{
  text-align: center;
 }

 .gallery a{
  font-size: 20px;
  font-weight: 500;
  color:rgb(11, 11, 90);
  text-decoration: none;
 }
   
.nav-link{
  color: black;
  font-weight: 600;
}

.nav-link:hover {
  color: skyblue;
}

.navbar-brand{
  display: flex;
  /* box-shadow: 1px 1px 7px skyblue;
  border-radius: 5px; */
}
/* 
.navbar-brand p{
  font-size: 15px;
  color: black;
  margin-top: 3px;
} */

.navbar-toggler{
  background-color: skyblue;
}

/* .navbar{
  background-color: rgb(11, 11, 90) !important;
} */
 
.top-navbar{
  background-color: rgb(11, 11, 90);
  display: flex;
  color: white;
  font-weight: 600;
  padding-left: 20px;
  padding-top: 10px;
}

.top-navbar .top-icon{
  margin-left: 6px;
  padding-top: 8px;
}

.top-navbar p{
  padding-top: 6px;
}


.nav-search{
  margin-top: 2px;
  margin-bottom: 30px;
}


.search-input{
width: 450px;
border: 2px solid rgb(11, 11, 90);
}

.search-button{
  width: 70px;
  background-color: rgb(11, 11, 90);
  color: white;
  border-radius: 3px;
}

.login-icon{
 padding-left: 30px;
 padding-top: 8px;
 color: skyblue !important;
}

.logout-button{
  width: 60px;
  font-size: 14px;
  margin-left: 5px;
  font-weight: 600;
  background-color: skyblue;
  color: black;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* student_home.php css end */


/* footer.html css start */

.student-home-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(236, 171, 171);
  gap: 20px;
  padding: 50px 20px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}

.suggestions-box {
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
  position: absolute;
  width: 20%;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}


/* footer.html css end */

/* chatbot css start */

.chatbot-div{
  position: fixed;
  top: 85%;
  left: 90%;
  border-radius: 20px;
  padding: 8px;

  font-weight: 500;
}

.chatbot-div a{
  background-color: rgb(103, 231, 220);
  border-radius: 5px;
  padding: 5px 5px 5px;
  color: blue;
}

.chatbot-div img{
  border-radius: 20px;
  margin-left: 50px;
}

/* chatbot css end */


/* student_login css start */
.footer{
  margin-top: 36%;
  position: absolute;
  width: 100%;
  background-color: rgb(11, 11, 90);
  color: white;

}


@media (max-width: 600px) {
  .footer{
 display: none;
  }
}


.footer p{
  margin-left: 10px;
  margin-top: 10px;
}

/* student_login css end */


/* register.php css start */

.register-form{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}



.register-form form{
  background-color:  rgb(11, 11, 90);
  color: white;
  border-radius: 10px;
  padding: 20px 40px 20px;
  font-weight: 400;
}

@media (max-width: 600px) {
  .register-form form{
    padding: 10px 10px 10px;
    border-radius: 0px;
  }
}

.input-group label{
  /* display: inline-block; */
  width: 100px; /* Adjust width as needed */
  text-align: right;
  margin-right: 10px; 
  padding-bottom: 15px;
}

.input-group button{
  background-color: white;
}

@media (max-width: 600px) {
  .input-group button{
    margin-top: 20px;
    margin-left: 60%;
   background-color: rgb(101, 230, 230) !important;
  }
  .input-group label{
    width: 87px;
  }
}


.register-form a{
  color: rgb(95, 184, 219);
}


/* register.php css end */

/* bookNavigate.css start */
.bookNavigate{
  display: flex;
  background-color: rgb(185, 225, 240);
  padding: 20px 20px 20px;
  width: 70%;
  margin-top: 4px;
}

.bookSummary{
  margin-top: 20px;
  border: 1px solid rgb(11, 11, 90);
  margin: 20px 20px 20px;
  border-radius: 5px;
  width:95%;

}

.bookSummary h5{
  margin-top: 5px;
  margin-left: 5px;
}

.bookSummary p{
  margin: 10px 10px 10px;
}


/* bookNavigate.css end */

/* contact.php css */

.contact-div{
  display: flex;
  justify-content: center;
  background-color: rgb(185, 225, 240);
  margin-top: 20px;
  padding: 20px 10px 20px;
  border-radius: 5px;
}


/* e-card css */

.e-card{
  background-color: rgb(185, 225, 240);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 20px 20px 20px;
}

.card-content{
  display: flex;
  justify-content: center;
  padding: 10px 10px 10px;
  background-color: rgb(11, 11, 90);
  color: white;
  border-radius: 5px;
}

.card-details{
  margin-top: 5px;
  margin-right: 10px;
}

.card-details img{
  border-radius: 3px;
}

.card-details h6{
  margin-top: 5px;
}

.card-validation{
  margin-top: 10px;
  padding: 5px 5px 5px;
  border: 2px solid skyblue;
}

.card-header img{
  margin-left: 10px;
  border-radius: 5px;
}

.card-header p{
font-size: 13px;
margin-left: 8px;
}

.card-signature{
  margin-top: 20px;
}

.card-signature p{
  margin-left: 33px;
}