  <!-- <div class="top-navbar">
    <img class="top-icon" src="/frontend/img/header-book-icon.png" width="30" height="30" alt=""/>
    <p>e-Library</p>


    <div class="nav-content">
      <ul class="nav-links">
        <a href="/"><li>HOME</li></a> 
        <a href="/"><li>CONTACT</li></a> 
        <a href="/"><li>PROFILE</li></a>  
      </ul> -->


      <!-- 
       <div class="login-icon">
        <i class="fa-solid fa-user"></i>
        </div>

      <div style="display: flex;">
      <p>&nbsp;<?php echo $name; ?>,</p>
      <p>&nbsp; <?php echo $surName; ?></p> <br/>
      <p>&nbsp;&nbsp;USN: <?php echo $usn; ?></p>
      <input class="logout-button" type="button" value="logout"/>
      </div>
    
     </div>
     </div> -->