@import url(https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600&display=swap);
* {
    font-family: "Poppins", sans-serif;
}

.book-cover {
    flex: 0 0 calc(100% - 20px); /* Adjust the width for covers per row */
    margin: 15px 0px 50px; /* Adjust the margin as needed */
    max-width: 250px; /* Set a maximum width for the book cover */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
}

.chatbot-img {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Automatically adjust the height to maintain aspect ratio */
}

.chatbot-toggler {
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 70px;
    width: 70px;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease;
    background-color: #724ae8;
    z-index: 1000;
}

.chatbot-toggler .show-chatbot {
    transform: rotate(90deg);
}

.chatbot-toggler span {
    position: absolute;
}

.show-chatbot .chatbot-toggler span:first-child,
.chatbot-toggler span:last-child {
    opacity: 0;
}

.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot {
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 420px;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    background: #fff;
    border-radius: 15px;
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease;
    z-index: 1000;
}

.show-chatbot .chatbot {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.chatbot header {
    background: #724ae8;
    padding: 16px 0;
    text-align: center;
    position: relative;
}

.chatbot header h2 {
    color: #fff;
    font-size: 1.4rem;
}

.chatbot header span {
    position: absolute;
    right: 20px;
    top: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    transform: translateY(-50%);
}

.chatbot .chatbox {
    height: 510px;
    overflow-y: auto;
    padding: 30px 20px 70px;
    scroll-behavior: smooth;
}

.chatbox .chat {
    display: flex;
}

.chatbox .incoming span {
    height: 32px;
    width: 32px;
    color: #fff;
    align-self: flex-end;
    background: #724ae8;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;
}

.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}

.chatbox .chat p {
    color: #fff;
    max-width: 75%;
    font-size: 0.95rem;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    background: #724ae8;
}

.chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
    border-radius: 10px 10px 10px 0;
}

.chatbot .chat-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
}

.chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
    overflow: hidden;
    transition: height 0.2s ease;
}

.chat-input span {
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    color: #724ae8;
    font-size: 1.35rem;
    cursor: pointer;
    visibility: hidden;
}

.chat-input textarea:valid ~ span {
    visibility: visible;
}
@media (max-width: 1024px){
    .chatbot {
        width: 100%;
        right: 0;
        bottom: 0;
        height: 100%;
    }

    .chatbot .chatbox {
        height:calc(100%- 70px);
    }

    .chatbot header {
        display: flex;
        justify-content: space-between;
        padding: 16px;
    }

    .chatbot header span {
        display: block;
    }

    .chatbot-toggler {
        bottom: 15px;
        right: 15px;
        padding: 8px;
    }

    .chatbot-img {
        width: 35px;
        height: 35px;
    }
    .chatbot {
        bottom: 70px;
        right: 15px;
        width: 90%;
        height: 70%;
    }
}


@media (max-width: 768px) {
    .book-cover {
        flex: 0 0 calc(50% - 20px);
        max-width: 100%;
    }

    .nav-search div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .nav-search input, .nav-search select, .nav-search button {
        width: 100%;
    }
}

@media (max-width: 490px) {
    .chatbot {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .chatbot .chatbox {
        height: 98%;
    }

    .chatbot header span {
        display: block;
    }
}
