   <div class="nav-content">
    <img src="/frontend/img/AMAES-logo_header.png" alt="" height="50" width="100"/>
    <ul class="nav-links">
      <a href="/"><li>HOME</li></a> 
      <a href="/"><li>CONTACT</li></a> 
      <a href="/"><li>BOOKS CATEGORIES</li></a> 
      <a href="/"><li>BARROWED BOOKS</li></a>  
    </ul>
    <i class="bi bi-person-fill"></i>
   </div>

    <div class="header container">
    <div class="header-content">
    <h1>AMABookHub</h1>
    <h4>if you study to remember, you will forget; but if you study to understand you will remember.. </h4>
    </div>
   </div>

   <div class="book-image container">

    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="/frontend/img/books/a1.jpg" alt="Mountains" >
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="/frontend/img/Business/b2.jpg" alt="Mountains" >
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="/frontend/img/IT/IT1.jpg" alt="Mountains" >
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="/frontend/img/NURSING/n2.jpg" alt="Mountains" >
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="/frontend/img/IT/IT2.jpg" alt="Mountains" >
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="/frontend/img/NURSING/n3.jpg" alt="Mountains" >
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="/frontend/img/books/a2.jpg" alt="Mountains" >
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="/frontend/img/Business/b4.jpg" alt="Mountains" >
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="/frontend/img/books/a3.webp" alt="Mountains" >
      </a>
    </div>

    
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="/frontend/img/Business/b5.jpg" alt="Mountains" >
      </a>
    </div>

    
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="/frontend/img/IT/IT2.jpg" alt="Mountains" >
      </a>
    </div>

    
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="/frontend/img/NURSING/n4.jpg" alt="Mountains" >
      </a>
    </div>

    
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="/frontend/img/books/a4.jpg" alt="Mountains" >
      </a>
    </div>

    
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="/frontend/img/IT/IT4.jpg" alt="Mountains" >
      </a>
    </div>
    
    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="/frontend/img/NURSING/n5.jpg" alt="Mountains" >
      </a>
    </div>

    <div class="gallery">
      <a target="_blank" href="img_mountains.jpg">
        <img src="/frontend/img/Business/b5.jpg" alt="Mountains" >
      </a>
    </div>

   </div>
    

