  <div class="student-home-footer">
    <div style="line-height: 1;">
        <p>The Official E-Library Website of</p>
        <p> AMA Computer College Makati</p>
    </div>

    <div>
        <img style="border-radius: 2px;" src="/frontend/img/AMAES-logo_header.png" alt=""/>
    </div>

    <div>
        <ul>
            <a href="/"><li>About Us</li></a>
            <a href="/"><li>Contact</li></a>   
            <a href="/"><li>Terms & Conditions</li></a> 
            <a href="/"><li>Privacy Policy</li></a>  
        </ul>
    </div>

    <div>
        <p>Get in Touch</p>
       <div style="line-height: 1;">
        <a href="/"><i class="fa-brands fa-facebook"></i></a>  
        <a href="/"><i class="fa-brands fa-twitter"></i></a>
        <a href="/"><i class="fa-brands fa-instagram"></i></a>
       </div>
    </div>

    <div style="line-height: 1;">
        <p>Uncover New Worlds, One Page at A Click</p>
        <p>-Your Online Library Oasis</p>
    </div>

</div>

